*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}
body{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    width: 80%;
    height: auto;
    border: 2px solid blueviolet;
    border-radius: 0px 60px 0px 0px;
}